.loaf-list {
    list-style: none;
    padding: 0;
    margin: 0;
    font-size: 1.2em;
}

.loaf-list-item {
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    padding: 12px 6px;
    margin-bottom: 6px;
    background-color: #C9B59A;
    color: #7c6f5e;
}